body {
  background-color: #C8C8C8
}

header {
  border-style: solid;
  color: white;
  background-color: black;
  border-color: black;
}

header > h6 {
  margin-left: 300px;
  margin-top: 60px;
}

hr {
  margin-left: 100px;
  margin-bottom: 100px;
}
